*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    /* Yellow */
    --color-yellow: #F4B400;
    --color-yellow-rgb: 244, 180, 0; /* For use with opacity */
  
    /* Grays */
    --color-gray-950: #111111;
    --color-gray-950-rgb: 17, 17, 17; /* For use with opacity */
  
    --color-gray-500: #6B6B6B;
    --color-gray-500-rgb: 107, 107, 107; /* For use with opacity */
  
    /* White */
    --color-white: #FFFFFF;
    --color-white-rgb: 255, 255, 255; /* For use with opacity */
        /* Typography */
      
        --font-family-primary: 'Figtree', sans-serif;
      
        /* Text Preset 1 */
        --font-extra-bold: 800;
        --font-size-xl: 24px;
        --line-height-xl: 150%;
        --letter-spacing-xl: 0px;
      
        /* Text Preset 2 */
        --font-medium: 500;
        --font-size-md: 16px;
        --line-height-md: 150%;
        --letter-spacing-md: 0px;
      
        /* Text Preset 3 */
        --font-medium-sm: 500;
        --font-size-sm: 14px;
        --line-height-sm: 150%;
        --letter-spacing-sm: 0px;
      }
      
  

body {
    font-family: var(--font-family-primary);
   background-color: var(--color-yellow);
}








  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

  }

    .product-card{
        background: white;
        border: 1px solid black;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        padding: 20px;
        border-radius: 20px;
        max-width: 384px;
        width: 100%;
        box-shadow: 8px 8px 0 0 black;
        display: flex;
        gap: 24px;
        flex-direction: column;
       
    }

    .product-info{
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .product-info h5 {
        background-color: var(--color-yellow);
        padding: 4px 12px;
        border-radius: 4px;
        width: fit-content;
    }
    .product-card img {
        width: 100%;
        border-radius: 10px;
    }
    
    .image-icon img{
        width: 30px;
        height: 30px;
    }

    .image-icon{
        display: flex;
        /*flex start is for the beginning of the container */
        justify-content: flex-start;
        align-items: center;
        gap: 8px;
    }

    .image-icon p{
        text-align: center;
        flex-direction: row;
        


    }
  

/*
display: flex;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        flex-direction: row;

.product-card{
    align-items: center;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border: 1px solid #f8f4f4;
    border-radius: 20px;
    border-color: black;
    box-shadow: inset;
    box-sizing:content-box;
    padding: 20px 20px;
    width: 350px;
    height: 550px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60%;
}

.hs-y {
    color: rgb(228, 228, 51);
}

.just-love{
   display: flex;
margin-left: auto;
margin-right: auto;
text-align: center;
flex-direction: row;
}

*/
/*

.container {
    display: flex;
    
}

.product-card{
    background: white;
    border: #ccc solid 2px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    
}

.just{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    flex-direction: row;
}
    */
